[submodule "themes/hugo-refresh"]
	path = themes/hugo-refresh
	url = https://github.com/bueti/hugo-refresh
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
